* {
	margin: 0px;
}

.crossed-line {
    text-decoration: line-through;
}

.AppBar__logo {
	max-width: 5vw; 
}


.OrderCard__Main {
	box-shadow: 0px 3px 5px #333;
	margin: 20px;
}


.OrderCard__Main:hover {
	box-shadow: 0px 3px 10px #33;
	margin: 20px;
}


.App__Title {
	margin-left: 43vw;
	margin-bottom: 5px;
	margin-top: 5px;
}

.AppBar__main {
	justify-content:space-between;
}

.App__settings{
 	margin-left: auto;
 	order: 2;
}


.Stream__title {
	text-align: center;
}

.App_Contents {
	margin-top: 9vh;
}


.Card__BarButton {
	flex: 0.5;
}
.Card__KitButton {
	flex: 0.5;
}

.flash{
  color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

	
